.container {
	width: 86cqw;
	height: 25cqw;
	margin: 0 7cqw 2cqw 7cqw;
	display: flex;
	flex-grow: 0;
	justify-content: space-between;

	container-type: size;
}

.hidden {
	display: none;
}

.container > * {
	margin: auto 0;
}

.title {
	font-size: 25cqh;
	font-weight: 600;
}
