.container {
	width: 100cqw;
	height: 25cqw;
	display: flex;
	justify-content: center;
	margin-bottom: 2cqw;

	container-type: size;
}

.divider {
	border-bottom: 1px solid #dddddd;
}

.container > div {
	width: 85cqw;
	height: 100cqh;
	display: flex;
	align-items: center;
	justify-content: space-between;

	container-type: size;
}

.title {
	font-size: 25cqh;
	font-weight: 600;
}
