.container {
	background-color: white;
	width: 100cqw;
	height: 100cqh;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;

	container-type: size;
}

.container::-webkit-scrollbar {
	display: none;
}

.container > * {
	flex-shrink: 0;
}

.page1 {
	width: 100cqw;
	height: 100cqh;
	background-color: black;
	border-bottom-left-radius: 15cqw;
	border-bottom-right-radius: 15cqw;

	position: relative;
	overflow: hidden;
}

.page1 > .header {
	color: white;
	height: 6.6cqh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6cqh 4cqw;
}

.page1 > .header > .headerText {
	padding: 0 0 0 3cqw;
	font-size: 3cqh;
	color: white;
	font-weight: 500;
	margin-right: 3cqw;
}

.page1 > .header > .loginButton {
	padding: 2cqh 4cqw;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(153, 153, 153, 0.3) 100%);
	border: none;
	border-radius: 3cqh;
	cursor: pointer;
	margin-right: 3cqw;

	color: white;
	font-family: Pretendard;
	font-style: normal;
	line-height: normal;
	font-weight: 500;
	font-size: 1.8cqh;
}
.page1 > .header > .loginButton:active {
	transform: scale(0.95);
	opacity: 0.8;
}

.page1 > .centerText {
	color: var(--white, #fff);
	text-align: center;
	font-family: Pretendard;
	font-size: 8cqw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	padding-top: 27cqh;
}
.page1 > .centerTailText {
	color: white;
	font-size: 3.6cqw;
	font-weight: 300;
	text-align: center;
	padding-top: 3cqh;
}

/* star */

.star {
	position: absolute;
	width: 13.781px;
	height: 15px;
	animation: fall 3s linear infinite;
}
.star::before {
	content: '';
	position: absolute;
	top: -1100%;
	left: 500%;

	width: 1px;
	height: 110px;
	background: #5996f2;
	transform: rotate(30deg); /* 선을 45도로 회전 */
	animation: trail 3s linear infinite;
}

.starContainer {
	position: relative;
	z-index: 0; /* 별이 떨어지는 컨테이너의 스택 순서를 낮춤 */
}

@keyframes fall {
	0% {
		transform: translate(100vw, -100vh);
	}
	100% {
		transform: translate(0, 100vh);
	}
}

@keyframes trail {
	0% {
		height: 0;
		opacity: 0;
	}
	50% {
		height: 110px;
		opacity: var(--trail-opacity);
	}
	100% {
		height: 110px;
		opacity: 0;
	}
}

.page1 > .halfCircle {
	position: absolute;
	bottom: -22cqw;
	left: 50%;
	transform: translateX(-50%);
	width: 40cqw;
	height: 40cqw;
	border: 1px solid white;
	border-radius: 40cqw;
	overflow: hidden;
	animation: bounceHalfCircle 1s infinite;
	opacity: 0.7;
}
.page1 > .arrowHead {
	position: absolute;
	bottom: 5cqh;
	left: 50%;
	width: 2cqw;
	height: 2cqw;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	transform: translate(-50%, 50%) rotate(-45deg);
	animation: bounceArrowHead 1s infinite;
	opacity: 0.7;
}

.page1 > .arrow {
	position: absolute;
	bottom: 5cqh;
	left: 49.9%;
	width: 1px;
	height: 10cqh;
	background-color: white;
	transform: translateX(-50%);
	animation: bounceArrow 1s infinite;
	opacity: 0.7;
}

@keyframes bounceArrow {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10%);
	}
}
@keyframes bounceArrowHead {
	0%,
	100% {
		transform: translate(-50%, 0) rotate(-45deg);
	}
	50% {
		transform: translate(-50%, -90%) rotate(-45deg);
	}
}
@keyframes bounceHalfCircle {
	0%,
	100% {
		transform: translateX(-50%);
	}
	50% {
		transform: translate(-50%, -5%);
	}
}

.page2 {
	height: 93cqh;
	width: 100cqw;
	background-color: white;
}

.page2 > .header {
	padding: 6cqh 0 2cqh 10cqw;
}

.page2 > .header > .titleChatbot {
	color: #5996f2;

	font-family: Pretendard;
	font-size: 7cqw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.page2 > .header > .titleConversation {
	color: var(--black, #090909);
	font-family: Pretendard;
	font-size: 7cqw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.page2 > .header > .titleDescribe {
	color: var(--gray2, #a7a7a7);
	font-family: Pretendard;
	font-size: 4cqw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-top: 2cqh;
}

.page2 > .rectangle {
	width: 80cqw;
	height: 29cqh;
	border-radius: 12px;
	background: var(--gray-05, #f5f5f5);
	margin: 3cqh 0 3cqh 10cqw;
	overflow: hidden;
}

.page2 > .rectangle > .text {
	color: var(--black, #090909);
	font-family: Pretendard;
	font-size: 5cqw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	margin: 0 0 0 7cqw;
	padding: 7cqw 0 0 0;
}
.page2 > .rectangle > .chatbotImages {
	display: flex;
	width: 53cqw; /* 너비를 직접 지정 */
	padding: 5.5cqw 0 0 16cqw;
}
.page2 > .rectangle > .chatbotImages > .chatbot {
	position: relative;
	width: 30cqw;
	height: 30cqw;
	animation: wave 2s infinite ease-in-out;
}

.page2 > .rectangle > .chatbotImages > .chatbot1 {
	right: 0;
	z-index: 4;
}

.page2 > .rectangle > .chatbotImages > .chatbot2 {
	right: 18cqw;
	z-index: 3;
}

.page2 > .rectangle > .chatbotImages > .chatbot3 {
	right: 36cqw;
	z-index: 2;
}

.page2 > .rectangle > .chatbotImages > .chatbot4 {
	right: 56cqw;
	z-index: 1;
}

@keyframes wave {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}
.page2 > .rectangle > .chatbotImages > .chatbot:nth-child(2) {
	animation-delay: 0.3s;
}

.page2 > .rectangle > .chatbotImages > .chatbot:nth-child(3) {
	animation-delay: 0.6s;
}

.page2 > .rectangle > .chatbotImages > .chatbot:nth-child(4) {
	animation-delay: 0.9s;
}

.page2 > .rectangle > .micContainer {
	display: flex;
	width: 53cqw; /* 너비를 직접 지정 */
	padding: 5.5cqw 0 0 20cqw;
	margin-left: 25cqw;
}

.page2 > .rectangle > .micContainer > .mic {
	position: relative;
	z-index: 4;
	right: 0.5cqw;
	bottom: -7.5cqw;
	width: 20cqw;
	height: 20cqw;
}

.page2 > .rectangle > .micContainer > .micWave1 {
	position: relative;
	width: 45cqw;
	height: 45cqw;
	z-index: 3;
	right: 33cqw;
	bottom: 11.5cqw;
	animation: micWave1 4s infinite ease-in;
	animation-delay: 0s;
}

.page2 > .rectangle > .micContainer > .micWave2 {
	position: relative;
	width: 54cqw;
	height: 54cqw;
	right: 82.5cqw;
	z-index: 2;
	bottom: 19cqw;
	animation: micWave2 4s infinite ease-in;
	animation-delay: 0.2s;
}

.page2 > .rectangle > .micContainer > .micWave3 {
	position: relative;
	width: 59cqw;
	height: 59cqw;
	right: 141.5cqw;
	bottom: 24cqw;
	z-index: 1;
	animation: micWave3 4s infinite ease-in;
	animation-delay: 0.4s;
}

@keyframes micWave1 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes micWave2 {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes micWave3 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.page3 {
	height: 33cqh;
	width: 100cqw;
	background-color: #eeeeee;
	position: relative;
	overflow: hidden;
}

.page3 > .header {
	padding: 7cqh 0 2cqh 10cqw;
	margin: 0 12cqw 0 0;
	text-align: right;
	animation: slideFromRight 2s forwards ease-in-out;
}

.page3 > .header > .titleMarker {
	color: #5996f2;

	font-family: Pretendard;
	font-size: 7cqw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.page3 > .header > .titleNormal {
	color: var(--black, #090909);
	font-family: Pretendard;
	font-size: 7cqw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.page3 > .header > .titleDescribe {
	color: var(--gray2, #a7a7a7);
	font-family: Pretendard;
	font-size: 4cqw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-top: 2cqh;
}

.page3 > .rectangleContainer {
	position: absolute;
	display: flex;
	width: 40cqw;
	height: 35cqw;
	top: 45%;
	animation: slideFromLeft 2s forwards ease-in-out;
}

.page3 > .rectangleContainer > .rectangle1 {
	width: 26.5cqw;
	height: 23cqw;
	border-radius: 1cqw;
	position: absolute;
	left: 15%;
	background: var(--white, #fff);
	z-index: 3;
}
.page3 > .rectangleContainer > .rectangle2 {
	width: 26.5cqw;
	height: 23cqw;
	border-radius: 1cqw;
	position: absolute;
	transform: rotate(-22.109deg);
	background-color: white;
	bottom: 10%;
	left: -5%;
	z-index: 1;
}
.page3 > .rectangleContainer > .hole1 {
	position: absolute;
	width: 20.5cqw;
	height: 17.5cqw;
	background: #e7e7e7;
	border: 1px solid var(--white, #fff);
	border-radius: 4px;
	left: 23%;
	bottom: 42%;
	z-index: 4;
}

.page3 > .rectangleContainer > .hole2 {
	position: absolute;
	width: 20.5cqw;
	height: 17.5cqw;
	background: #e7e7e7;
	border: 1px solid var(--white, #fff);
	border-radius: 4px;
	bottom: 18%;
	left: 3%;
	transform: rotate(-22.109deg);
	z-index: 2;
}

.page3 > .rectangleContainer > .heart {
	position: absolute;
	width: 11cqw;
	height: 11cqw;
	left: 35%;
	bottom: 50%;
	z-index: 5;
	animation: pulse 2s infinite;
}

@keyframes slideFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideFromRight {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes pulse {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.8);
	}
}

.page4 {
	height: 60cqh;
	width: 100cqw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.floatingImage {
	position: absolute;
	bottom: 0;
	animation: float 5s linear infinite;
	z-index: -1;
}

@keyframes float {
	0% {
		transform: translateY(100%);
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: translateY(-30cqh);
	}
	to {
		opacity: 0;
	}
}
.page4 > .header {
	padding: 7cqh 0 2cqh 10cqw;
	margin: 0 12cqw 0 0;
	text-align: center;
	z-index: 2;
}

.page4 > .header > .titleMarker {
	color: #5996f2;

	font-family: Pretendard;
	font-size: 7cqw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.page4 > .header > .titleNormal {
	color: var(--black, #090909);
	font-family: Pretendard;
	font-size: 7cqw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.page4 > .header > .titleDescribe {
	color: var(--gray2, #a7a7a7);
	font-family: Pretendard;
	font-size: 4cqw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-top: 2cqh;
}

.page4 > .foggyBox {
	width: 100cqw;
	height: 40cqw;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
	z-index: 3;
}

.page4 > .floatingImage > .float1 {
	width: 20cqw;
	height: 20cqw;
}
.page4 > .floatingImage > .float2 {
	width: 20cqw;
	height: 10cqw;
}
.page4 > .floatingImage > .float3 {
	width: 20cqw;
	height: 10cqw;
}
.page4 > .floatingImage > .float4 {
	width: 3cqw;
	height: 3cqw;
}
.page4 > .floatingImage > .float5 {
	width: 3cqw;
	height: 3cqw;
}
.page4 > .floatingImage > .float6 {
	width: 2cqw;
	height: 2cqw;
}

.buttonPage {
	height: 20cqh;
	width: 100cqw;
	background-color: white;
}

.buttonPage > .loginButton {
	display: flex;
	width: 35cqw;
	height: 12cqw;
	justify-content: center;
	align-items: center;
	border-radius: 3cqw;
	color: #5996f2;

	font-family: Pretendard;
	font-size: 4.4cqw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	margin: 19cqw 0 0 32cqw;

	background: var(--black, #090909);
}
.buttonPage > .loginButton:active {
	transform: scale(0.95);
	opacity: 0.8;
}
