.container {
	width: 100cqw;
	box-shadow: 0 -0.1cqh 0.4cqh 0 rgba(0, 0, 0, 0.2);
	display: flex;
	transition: transform 0s, height 0s;

	container-type: size;
}

.visible {
	height: 25cqw;
	transform: translateY(0);
}

.hidden {
	height: 0;
	transform: translateY(100%);
}
