.container {
	width: 100cqw;
	height: 100cqh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15cqh;

	container-type: size;
}

.container > img {
	width: 70cqw;
	height: 45cqw;
}
