.container {
	width: 100cqw;
	height: 100cqh;
	display: flex;
	justify-content: center;

	container-type: size;
}

.container > div {
	display: flex;
	flex-direction: column;
	width: 60cqw;
	height: 100cqh;
	align-items: center;
	justify-content: center;
	container-type: size;
	gap: 12.5cqh;
}

.container > div > * {
	width: 100cqw;
	container-type: size;
}

.container > div > div:first-child {
	display: flex;
	height: 110cqw;
	flex-direction: column;
	gap: 10cqw;
	justify-content: center;
}

.container > div > div:first-child > :first-child {
	font-size: 8cqw;
	height: 10cqw;
	line-height: 10cqw;
}

.container > div > div:first-child > :nth-child(2) {
	align-self: center;
}

.container > div > div:nth-child(2) {
	height: 20cqw;
}

.container > div > div:nth-child(3) {
	height: 15cqw;
}

.container > div > div:nth-child(3) > button {
	width: 100cqw;
	height: 100cqh;
}
