.container {
	width: 86cqw;
	height: 17.2cqw;

	container-type: size;
}

.container > button {
	width: 100cqw;
	height: 100cqh;
	font-size: 24cqh;
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
