.container {
	width: 100vw;
	height: 100vh;
	background-color: #606060;
	container-type: size;
}

.container > div {
	margin: 0 auto;
	background-image: url('/background-image.png');
	container-type: size;
}

.desktop {
	width: max(56.25vh, 360px);
	height: max(100vh, 640px);
}

.mobile {
	width: minmax(56.25vh, 100vw);
	height: 100vh;
}

.container > div > div:first-child {
	width: 100%;
	height: 100%;
	container-type: size;
}
