.container {
	width: 85cqw;
	height: 85cqw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
	border-radius: 5cqw;

	container-type: size;
}

.container > svg {
	width: 33cqw;
	height: 33cqw;
	color: #d2d2d2;
}

.container > svg > path {
	fill: #ffffff;
}
