@font-face {
	font-family: 'Roboto-Medium';
	src: url('../_font/Roboto/Roboto-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard-Black';
	src: url('../_font/Pretendard/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard-Bold';
	src: url('../_font/Pretendard/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard-ExtraBold';
	src: url('../_font/Pretendard/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard-ExtraLight';
	src: url('../_font/Pretendard/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard-Light';
	src: url('../_font/Pretendard/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard-Medium';
	src: url('../_font/Pretendard/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('../_font/Pretendard/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard-SemiBold';
	src: url('../_font/Pretendard/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard-Thin';
	src: url('../_font/Pretendard/Pretendard-Thin.woff') format('woff');
}
