.layout {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	container-type: size;
}

.layout > :first-child {
	width: 100cqw;
	flex: 1;

	container-type: size;
}

.container {
	width: 100cqw;
	height: 100cqh;
	display: flex;
	flex-direction: column;

	container-type: size;
}

.container > div:last-child {
	width: 100cqw;
	flex: 1;

	container-type: size;
}
