.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	container-type: size;
}

.container > :first-child {
	width: 100cqw;
	flex: 1;

	container-type: size;
}
