.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100cqw;
	height: 100cqh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	container-type: size;
}

.container > div {
	width: 80cqw;
	height: 100cqh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
	transition: transform 0.3s ease-in-out;
	container-type: size;
}

.header {
	width: 100cqw;
	height: 15cqh;
	display: flex;
	flex-direction: column;
	container-type: size;
}

.header > :last-child {
	width: 100cqw;
	height: 40cqh;
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3cqw;

	container-type: size;
}

.header > :last-child > span {
	margin-left: 7cqw;
	font-size: 50cqh;
}

.header > :last-child > button {
	width: 100cqh;
	height: 100cqh;
	padding: 0;

	container-type: size;
}

.header > :last-child > button > svg {
	width: 60cqw;
	height: 60cqh;
}
