.container {
	width: 80cqw;
	height: 40cqh;
	flex-shrink: 0;
	background-color: #ffffff;
	border-radius: 1cqh;
	box-shadow: 0 0 1cqh 0 rgba(0, 0, 0, 0.1);

	container-type: size;
}

.container > div {
	width: 100cqw;
	display: flex;
	align-items: center;
	justify-content: center;

	container-type: size;
}

.container > div:first-child {
	height: 15cqh;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.container > div:first-child > div {
	width: 90cqw;
	height: 100cqh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgba(0, 0, 0, 0.75);
}

.container > div:last-child {
	height: 85cqh;
}
