.container {
	width: 80cqw;
	height: 40cqh;
	flex-shrink: 0;
	background-color: #ffffff;
	border-radius: 1cqh;
	box-shadow: 0 0 0.8cqh 0 rgba(0, 0, 0, 0.2);

	container-type: size;
}

.container > div {
	width: 100cqw;
	display: flex;
	align-items: center;
	justify-content: center;

	container-type: size;
}

.title {
	height: 15cqh;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.title > div {
	width: 90cqw;
	height: 100cqh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgba(0, 0, 0, 0.75);
}

.content {
	height: 85cqh;
}

.content > div {
	width: 96cqw;
	height: 94cqh;
	border-radius: 2cqh;
	display: flex;

	container-type: size;
}
