.container {
	width: 86cqw;
	height: 86cqw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7cqw;
	border-bottom: 1px solid #dddddd;

	container-type: size;
}

.container > span:nth-child(2) {
	font-size: 6cqh;
}

.container > span:nth-child(3) {
	font-size: 4cqh;
	color: #b2b2b2;
}

.container > div > span {
	border-radius: 40%;
}

.container > div > span > div {
	border-radius: 40%;
}
