.container {
	width: 86cqw;
	height: 51.6cqw;
	border-bottom: 1px solid #dddddd;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	container-type: size;
}

.container > button {
	width: 100cqw;
	height: 33.3cqh;
	color: #000000;
	font-size: 8cqh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
