.container {
	width: 86cqw;
	height: 51.6cqw;
	border-top: 1px solid #dddddd;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container > button {
	width: 86cqw;
	height: 17.2cqw;
	color: #000000;
	font-size: 4.128cqw;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
