.container {
	display: flex;
	align-items: center;
	justify-content: center;
	container-type: size;
}

.container > span {
	display: block;
	width: 100cqw;
	height: 100cqh;
	container-type: size;
}

.container > span > div {
	display: block;
	width: 100cqw;
	height: 100cqh;
	box-shadow: 0 0 0.5cqh 0 rgba(0, 0, 0, 0.8);
	container-type: size;
}

.container > span > span {
	width: 20cqh;
	height: 20cqh;
	container-type: size;
}

.container > span > span > div {
	width: 100cqh;
	height: 100cqh;
	border: 7.5cqh solid #fafafa;

	container-type: size;
}
