.container {
	display: flex;
	align-items: center;
	justify-content: center;
	container-type: size;
}

.container > span {
	display: block;
	width: 100cqw;
	height: 100cqh;
	container-type: size;
}

.container > span > div {
	display: block;
	width: 100cqw;
	height: 100cqh;
	container-type: size;
}

.container > span > span > div {
	border: 3px solid #ffffff;
}
