.container {
	width: 100cqw;
	height: 100cqh;
	display: flex;
	flex-direction: column;
	align-items: center;

	container-type: size;
}

.container > div:last-child {
	width: 85cqw;
	flex: 1;
	overflow-y: scroll;

	container-type: size;
}

.container > div:last-child::-webkit-scrollbar {
	display: none;
}
