.container {
	width: 33cqw;
	height: 33cqw;
	background-color: #dddddd;

	container-type: size;
}

.container > a {
	width: 100cqw;
	height: 100cqh;
	position: relative;
	display: block;
}

.container > a > img {
	object-fit: cover;
}
