.isEditing {
	width: 116.27cqw;
	height: 16cqw;
	margin-top: auto;
	border-top: 1px solid #dddddd;
	background-color: #f5f5f5;

	container-type: size;
}

.isEditing > button {
	width: 50cqw;
	height: 100cqh;
	color: #000000;
	border: none;
	border-radius: 0;
	font-size: 4.5cqw;
	font-weight: 400;
}

.isEditing > button:first-child {
	border-right: 1px solid #dddddd;
}

.isNotEditing {
	border-color: rgba(0, 0, 0, 0.05) !important;
	min-width: 14cqw !important;
	padding: 0.5cqw 2cqw !important;
	border-radius: 5cqw !important;
	background-color: #ffffff !important;
	color: #666666 !important;
}
