.container {
	width: 100cqw;
	height: 100cqh;
	display: flex;
	justify-content: center;
	align-items: center;

	container-type: size;
}

.container > div {
	width: 90cqw;
	height: 100cqh;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 15cqh;

	container-type: size;
}
