.container {
	width: 45.5cqw;
	height: 65.1cqw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 3cqw;
	opacity: 0.5;
	background-color: #f5f5f5;
	transition: transform 0.3s ease-in-out;

	container-type: size;
}

.selected-container {
	opacity: 1;
	box-shadow: 0 0 2cqw 0 rgba(0, 0, 0, 0.3);
	transform: translateY(-2cqw);
	transition: transform 0.3s ease-in-out;
}

.description {
	margin-top: 15cqw;
	color: #939393;
	font-size: 6.5cqw;
	max-width: 60cqw;
	word-break: break-word;
}

.name {
	margin-top: 5cqw;
	margin-bottom: 20cqw;
	padding: 4cqw 6cqw;
	border-radius: 10cqw;
	font-size: 9cqw;
	font-weight: 500;
	background-color: #ffffff;
}

.image {
	position: relative;
	width: 90cqw;
	height: 110cqw;
	flex-shrink: 0;
	transition: transform 0.3s ease-in-out;

	container-type: size;
}

.selected-image {
	transform: translateY(-15cqw);
	transition: transform 0.3s ease-in-out;
}
