.left,
.right {
	width: 100cqw;
	display: flex;
	gap: 5cqw;
}

.left > div:last-child,
.right > div:first-child {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.left > div:last-child {
	align-items: flex-start;
}

.right > div:first-child {
	align-items: flex-end;
}

.right > div:last-child > span:last-child {
	background-color: #dfecff;
}

.left > div:last-child > span:first-child,
.right > div:first-child > span:first-child {
	margin-bottom: 3.5cqw;
	font-size: 5.5cqw;
}

.left > div:last-child > span:last-child,
.right > div:first-child > span:last-child {
	max-width: 70cqw;
	position: relative;
	padding: 3cqw;
	background-color: #dddddd;
	border-radius: 1cqw;
	word-break: break-all;
	font-size: 4.5cqw;
}

.left > div:last-child > span:last-child::after,
.right > div:first-child > span:last-child::after {
	content: '';
	position: absolute;
	top: 1.5cqw;
	border-width: 1.5cqw;
	border-style: solid;
}

.left > div:last-child > span:last-child::after {
	border-color: #dddddd #dddddd transparent transparent;
	left: -2.5cqw;
}

.right > div:first-child > span:last-child::after {
	border-color: #dddddd transparent transparent #dddddd;
	right: -2.5cqw;
}
