.container {
	width: 100cqw;
	height: 30cqw;
	margin-bottom: 3cqw;
	display: flex;
	flex-grow: 0;
	justify-content: space-between;
	align-items: center;
	z-index: 1;

	container-type: size;
}

.title {
	font-size: 7.5cqw;
	font-weight: 500;
}
