.desktop {
    margin: 0 auto;
    background-color: #ffffff;
    width: max(56.25vh, 360px);
    height: max(100vh, 640px);

    container-type: size;
}

.mobile {
    margin: 0 auto;
    background-color: #ffffff;
    width: minmax(56.25vh, 100vw);
    height: 100vh;

    container-type: size;
}
